.resultbody
  .result.z-depth-4
    .result__header
      %h2 あなたのミーハー度は
    .result__point
      %h1
        =@point
    .result__discription
      =@comment

    %p みんなの履歴
.result__log
  -@logs.each do |log|
    =render partial: "log",locals: { log1: log}
